<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCc4an0lY2SBBkVytWYlbHVDSw2NKnjCFg</string>
	<key>GCM_SENDER_ID</key>
	<string>309897946718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xstore</string>
	<key>PROJECT_ID</key>
	<string>xstore-a8fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>xstore-a8fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309897946718:ios:49cf0cedf4da5611d676cf</string>
</dict>
</plist>